.search-button {
  font-family: "Merriweather", serif;
}

.search-box {
  margin: 0 auto;
  display: block;
  width: 50%;
}

.search-input {
  display: block;
  margin: 0 auto;
  padding: 20px;
  width: 60%;
  margin-bottom: 20px;
}

.search-button {
  display: block;
  margin: 0 auto;
  padding: 12px;
  background-color: #fb8500;
}
